name: Deploy to Hosting
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: install lib 
        run: sudo apt install sshpass

      
      - name: Deploy to Hosting
        run: sshpass -p 12345678 ssh -oStrictHostKeyChecking=no justuser@149.154.71.129 -t "cd Cyber-resilience-of-artificial-intelligence-systems && git pull && exit"
        
        
