name: Deploy to Hosting
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Deploy to Hosting
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: 149.154.71.129
          username: justuser
          password: 12345678
          server-dir:  /home/justuser/Cyber-resilience-of-artificial-intelligence-systems/
        
